[2015-06-01 03:00] maxogden opened #1 "Log level"
not sure exactly what can be done here yet, but maybe supressing logs unless `process.env.DEBUG` has either `electron` or `*` in it maybe? the electron log level APIs are kinda weird, would be nice to abstract them sanely

[2015-06-28 18:12] Mingling94 opened #2 "Why CTRL+ALT+I to toggle dev tools?"
Shouldn't it be CTRL+SHIFT+I to reflect how one actually brings up devtools in Chrome?

[2015-06-29 10:42] #2 closed

[2015-06-29 15:14] Mingling94 commented on #2
Tanxxx

[2015-08-18 23:08] Flet opened #4 "More shortcuts"
Thanks for creating this little helper package, its quite useful!

Is there any interest in adding more shortcuts for refresh and dev tools? Some folks may be accustomed to the other shortcut keys in Chrome.

Refresh: <kbd>F5</kbd>
Dev Tools:<kbd>F12</kbd>

Happy to make a PR if this matches your vision.

[2015-08-19 02:58] sindresorhus commented on #4
:+1:

[2015-08-21 07:10] #4 closed

[2015-09-06 04:05] xuanhun opened #6 "document.onmousemove causes momery leak"
the code is so simple:

    <body>
    <script>
        document.onmousemove = function () {

        };
    </script>
    </body>
when started:
![20150906](https://cloud.githubusercontent.com/assets/2384516/9702408/1ff42fb6-548e-11e5-9493-24d693391fa0.png)

When moving the mouse on document , memory has been growing up.
![20150906120152](https://cloud.githubusercontent.com/assets/2384516/9702437/

[2015-09-06 04:09] xuanhun commented on #6
sorry, wrong place.

[2015-09-06 04:09] #6 closed

[2015-09-15 06:50] sindresorhus opened #8 "Use local shortcuts"
Instead of the [subscribe/unsubscribe](https://github.com/sindresorhus/electron-debug/blob/e5ae265a958b71d2a544ab3b0d093ff50e2b8d87/index.js#L26-L38) mess.

Depends on https://github.com/atom/electron/issues/1334.

[2015-10-21 18:23] parro-it opened #9 "Add inspectElement on right click, like on chrome"
Hi, I think it could be useful to add this feature to electron-debug.
I take the idea [from this question on SO](http://stackoverflow.com/questions/32636750/how-to-add-a-right-click-menu-in-electron-that-has-inspect-element-option-like)

If you think it will be usefule, I can prepare a PR, otherwise, I just add it on my app :-(

[2015-10-21 18:32] parro-it commented on #9
I think it could be activated only when dev-tools is opened, to avoid conflicts with application behaviour

[2015-10-21 20:45] sindresorhus commented on #9
Yeah, that's a good idea. Should only be added when devtools is open. PR would be welcome :)

[2015-10-26 10:44] #9 closed

[2015-10-31 15:02] pik opened #12 "Copy/Paste does not work? (OS X)"
I'm unable to perform either of these actions -- which make it significantly harder to use the debugger console.

[2015-10-31 15:08] sindresorhus commented on #12
Copy-paste does not work where and how exactly? Please be more specific.

[2015-10-31 15:10] pik commented on #12
In the F12 toggled chrome developer console.

[2015-10-31 15:12] #12 closed

[2015-11-03 10:06] mariokostelac opened #13 "Different require in webContents throws blocks loading right click context"
If Ember app is wrapped in Electron, original `module` and `require` globals have to be replaced with ember versions of that.
That blocks loading right click context on https://github.com/sindresorhus/electron-debug/blob/master/index.js#L25.
Could we make `require` call configurable?

[2015-11-03 10:48] sindresorhus commented on #13
Configurable how? I would strongly prefer a workaround that doesn't introduce configuration.

[2015-11-03 10:51] mariokostelac commented on #13
I was thinking something like
[code]
having `settings.require_fn` set to `'require'` by default.

[2015-11-03 13:33] parro-it commented on #13
I think `browser-window-created` app event is called before user get any change to load an url on the browser window instance.
The event receive the browser window instance as an argument. We could use this event to save original value of `require` and than use that to load the context-menu module.

This way no configuration is needed at all, and user code on page could do wehatever it want to `wi

[2015-11-03 13:34] sindresorhus commented on #13
:+1:

[2015-11-03 14:41] mariokostelac commented on #13
@parro-it would you create a PR for that or you want me to do that?

[2015-11-03 14:52] parro-it commented on #13
@mariokostelac I will, thank you.

[2015-11-04 05:39] #13 closed

[2015-11-05 08:04] parro-it commented on #8
I think this could be closed now that we use [electron-localshortcut](https://github.com/parro-it/electron-localshortcut)?

[2015-11-05 08:07] sindresorhus commented on #8
@parro-it Keeping it open as I still have a hope it will be in Electron core.

[2015-11-05 08:09] parro-it commented on #8
:+1:

[2015-11-06 07:07] parro-it opened #16 "Should we handle shortcut consistently with Chrome?"
See [this issue on electron repo](https://github.com/atom/electron/issues/3345)

[2015-11-06 19:07] sindresorhus commented on #16
Let's see what happens with that issue first.

[2015-11-06 19:43] parro-it commented on #16
:+1:

[2015-11-07 08:53] seriema opened #17 "Context-menu fails in 0.3"
**Issue:** I get errors in the dev tools console when activating (and deactivating) the debug view.

`electron-debug` `v0.2.1` seems to work fine.

`electron-debug` `v0.3.0`, `v0.3.1`, and `v0.3.2` give the same error:

    Uncaught Error: No /Users/john-philipjohansson/Documents/GitHub/HipsterChat/node_modules/electron-debug/context-menu

I tried it with node `0.12.2`, `4.2.1`, and `5.0.0`.

I re

[2015-11-07 09:00] sindresorhus commented on #17
// @parro-it

[2015-11-07 09:33] parro-it commented on #17
@seriema, could you check if `/Users/john-philipjohansson/Documents/GitHub/HipsterChat/node_modules/electron-debug/context-menu.js` file exists on your drive?

Regarding your side note, I think the engine requirement on local-shortcut is erroneus. Since the module is anyway running on electron it should work independently of the node version used. I've opened [an issue there](https://github.com/pa

[2015-11-07 09:43] parro-it commented on #17
What version of electron are you using?

[2015-11-07 10:02] sindresorhus commented on #17
No, the `engine` field in package.json isn't even enforced in Node.js. It's just for humans.

[2015-11-07 10:08] parro-it commented on #17
Ok, than I merely remove it.

[2015-11-07 10:19] parro-it commented on #17
Just published version 0.3.2, message disappear. I noticed electron-debug has the same problem, it specify node >=0.12.0. I think we should remove it from here too, it can be confusing for users.

[2015-11-07 10:36] parro-it commented on #17
@seriema I reproduced the bug on caprine too.

[2015-11-07 10:47] parro-it commented on #17
I found the problem (at least the one on caprine).
It fail because BrowserWindow is created with `node-integration:false`, so require is not available
in renderer context. (Well, it is, but it appear it always return `undefined`).

We have to include `context-menu.js` in `index.js` to avoid the problem, or otherwise include it with a <script> tag. @sindresorhus any preferences between the two?

[2015-11-07 12:25] parro-it commented on #17
After thinkings more, it will not work anyway, since `context-menu.js` depends itself on use of `require` to create & load the context menu.

I fear our best option here is:

* check if node-integration is disabled on window and if so just disable the feature.
* find a way to use `preload` `BrowserWindow` option to inject a script in renderer process (this scripts always have node integration enab

[2015-11-07 12:42] seriema commented on #17
As a user of `electron-debug` I'm not quite sure what I gain from the context-menu. If I can right-click or not in my app is a separate decision from my debugging tool, and once the debugger is open I can click the "select element" icon. So I'm trying to understand what all this is trying to add to me as a library user. Especially if you'll end up trying to hack my app somehow (injecting itself et

[2015-11-07 18:02] parro-it commented on #17
@seriema, my reasoning is because I, instead, find the "inspect element" feature to be useful, so I'll try to keep it, if possible.
Please note the context menu is enabled only when you open dev-tools, so it's not interfering with your app in any way if you're not debugging it.

However, I agree with you, we have to keep it simple, this is way my first purpose was to
check if node-integration is d

[2015-11-07 18:07] parro-it opened #18 "Make the debug context menu an 'opt-in' feature"
After reasoning in #17 and #13, I think it could be an improvement to make this feature an opt-in.
I mean, users could just require the context-menu module in renderer process if they need the feature.
This way, we skip all issues related to `require` method availability and node-integration, and main module code will be further simplified.

[2015-11-07 19:29] seriema commented on #17
There's a keyboard shortcut in Chrome, <kbd>Cmd</kbd> <kbd>Shift</kbd> <kbd>C</kbd>. Maybe that would be more in line with the rest?

Also the "select element" icon is easy to access after opening the dev tools:
<img width="46" alt="screenshot 2015-11-07 20 13 16" src="https://cloud.githubusercontent.com/assets/693684/11016868/eb27b8b2-858d-11e5-87f9-d1b7482d98e2.png">

This extra stuff is obvious

[2015-11-07 19:31] seriema commented on #18
I'd vote for separating convenience features into a separate project. Then it could add things like better error output, error detection, logging, live reload, etc. While keeping `electron-debug` keyboard oriented, without touching any user code (like menus), and really small (5kb-ish).

[2015-11-07 19:45] parro-it commented on #17
What are you measuring? context-menu.js is 734 bytes, and index.js is 1,8 Kb...

[2015-11-07 19:59] sindresorhus commented on #17
Not sure why you're counting a few kilobytes when an Electron app weigh in a 100+ megabytes.

[2015-11-07 20:05] sindresorhus commented on #18
Already possibly touching user code with the keyboard shortcuts.

This is not the browser. Whether it's 1kb or 100kb doesn't really matter.

-

That being said, I don't really find the context menu that useful personally, so wouldn't mind it being a separate project.

[2015-11-07 20:09] parro-it commented on #17
Uhm... maybe beacuse we do a [stressfull job](http://www.businessinsider.com/syndromes-drive-coders-crazy-2014-3?IR=T) :smile: ?

[2015-11-07 21:04] parro-it commented on #18
Ok, so I'll move it to a separate project.
Maybe I can add a note in electron-debug readme to notice other people that could find it useful?

[2015-11-07 21:51] seriema commented on #17
I looked at the `node_modules` folder and was trying to point out the relative increase in size as a marker of how easily this will just grow to depend on more and more stuff, that themselves depend on more and more. Then the configuration comes in, and I think you know where I'm going with this.

[2015-11-07 21:58] seriema commented on #18
It would be the same as Chrome shortcuts though, so they're probably not used by devs to mean something else in a Electron context. Adding/removing items to menu's I'd consider a different scenario.

Absolutely, so if it was images or something then sure, but "convenience feature code" has to be pretty convenient and a 100kb "debug" library would be pretty daunting imho.

-

Glad to hear this can

[2015-11-07 22:22] parro-it commented on #18
Feature moved to [it's own repo](https://github.com/parro-it/debug-menu).
Suggestions and star are welcomed there :smile_cat:
Removal PR is [here](https://github.com/sindresorhus/electron-debug/pull/19)

[2015-11-08 08:27] sindresorhus commented on #18
It's all relative. 100kb *is* small when your app is 1000x of that. But anyways. Not gonna this discuss this anymore ;)

-

@parro-it Can't think of anything right now, but many possibilities. You could browse through the Chrome developer extensions for some inspiration: https://chrome.google.com/webstore/category/ext/11-web-development

[2015-11-08 09:05] parro-it commented on #18
@sindresorhus good suggestion, thank you, I'll do... anyway, what I means is suggestion on presentation  of the repo... descriptions of repo purpose etc...

[2015-11-08 09:15] #17 closed

[2015-11-08 09:15] #18 closed

[2015-11-25 05:55] sindresorhus opened #25 "Debug IPC"
Could maybe be useful to monkey-patch the [IPC module](http://electron.atom.io/docs/latest/api/ipc-main/) and log what's sent through it.

-

Vote with reactions whether you want this or not.

[2015-11-25 07:45] parro-it commented on #25
It would be useful, but I fear it will bloat the console (Are you thinking to logging to console?)
Ideallly, we need a way to turn logging on/off from devtools.

[2015-11-25 07:49] sindresorhus commented on #25
@parro-it In the DevTools console you can filter based on the log type. We could log using `console.debug` in this case. It should also be an option you turn on.

[2015-11-25 08:07] parro-it commented on #25
Yes, it should be fine...

[2015-11-25 13:45] Kamahl19 opened #26 "electron-debug module not found when running packaged app"
Hi,

when I run electron app using electron-prebuild, it works ok with electron-debug.

However when I pack app using electron-packager and then run those packaged apps, I get electron-debug module not found error.
![error](https://cloud.githubusercontent.com/assets/1591293/11398748/15b94cf0-9383-11e5-8e95-7663e74dbc83.PNG)

[2015-11-25 14:57] sindresorhus commented on #26
You have to make sure you include the node_modules folder in your packaged app.

[2015-11-25 14:57] #26 closed

[2015-11-29 17:24] lyckade opened #27 "Coffeescript inside index.js"
The code inside the index.js file causes error, because it is not valid JavaScript. The syntax looks like not compiled coffeescript:

    module.exports = opts => {
	opts = opts || {};

	app.on('browser-window-created', (e, win) => {
		if (opts.showDevTools) {
			devTools(win);
		}
	});

	app.on('ready', () => {
		localShortcut.register(isOSX ? 'Cmd+Alt+I' : 'Ctrl+Shift+I', devTools);
		localShort

[2015-11-29 18:24] parro-it commented on #27
You have to use this module with [Electron](http://electron.atom.io/)

[2015-11-29 18:57] lyckade commented on #27
The issue is that coffeescript syntax is used inside a JavaScript file. When you try to install this module via npm you will get an error.

Even if you have electron installed there is an error, because it is not JavaScript.

[2015-11-30 01:43] sindresorhus commented on #27
It's *JavaScript* [arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions). Upgrade to the latest version of Electron.

[2015-11-30 01:43] #27 closed

[2015-11-30 01:54] Qix- commented on #27
First hint should have been that there are no brackets in Coffeescript other than for object initializers...

[2015-11-30 07:07] lyckade commented on #27
O.k. my mistake. It is valid ES6. And I know that it is not valid coffeescript either.

The problem was that the yeoman boilerplate was not working any more for new projects, because the npm install didn't work any more. The error was allways at the fat arrows. After a first watch I thought somebody mixed here some coffeescript elements into JS.
Now I know.
At the moment the yeoman boilerplate als

[2016-01-05 02:26] zweicoder opened #28 "Run only for development?"
Is it possible to only run this in development mode?

[2016-01-05 21:39] sindresorhus commented on #28
This module is currently not opinionated about that and it's up to you to disable it for production. I've been thinking about automating this, but not sure the best way of doing it, because as far as I know there's no convention of what's debug and release builds with Electron apps. How do you define "development mode"?

[2016-01-06 01:29] zweicoder commented on #28
I see.. As far as I know from my limited experience with Electron there doesn't seem to be an official way to do it. I'm currently doing `NODE_ENV=dev electron .` to start the app and using `process.env.NODE_ENV` to check for the variable value.

Will be closing this issue now as my problem is resolved!

[2016-01-06 01:43] sindresorhus commented on #28
I'd like to keep it open as I want to look into this at some point.

[2016-02-11 01:37] stevedekorte opened #29 "Option to start in detached dock mode"
It would be nice to have an option for the debugger window mode. Something like "dockSide" with options of "detached", "bottom", or "right" and a default of "right".

require('electron-debug')({
	showDevTools: true,
        dockSide: "detached",
});

Btw, I've found the electron-debug package extremely useful. Thanks for making it!

[2016-02-11 06:41] sindresorhus commented on #29
`detached` could be implemented, but the rest is not supported by Electron: http://electron.atom.io/docs/v0.36.7/api/web-contents/#webcontentsopendevtoolsoptions Can you open an issue on Electron about that?

I think it should just reuse the existing option as `showDevTools: 'detached'`.

Wanna do a pull request?

[2016-02-11 08:12] parro-it commented on #29
@sindresorhus, I think the other options could be implemented too.
Using [webContents.devToolsWebContents](http://electron.atom.io/docs/v0.36.7/api/web-contents/#webcontentsdevtoolswebcontents) we can get the `webContents` of `devtools`, and then using [BrowserWindow.fromWebContents(webContents)](http://electron.atom.io/docs/v0.36.7/api/browser-window/#browserwindowfromwebcontentswebcontents) we c

[2016-02-11 08:33] sindresorhus commented on #29
@parro-it Yes, but Chrome Dev Tools already have ability to dock to right or bottom, so I think this should be implemented in Electron.

[2016-02-11 08:36] parro-it commented on #29
Uhm, yes, you're right...

[2016-02-12 19:17] parro-it opened #30 "Expose core action functions to call them from debug-menu"
I'm thinking about adding a feature to debug-menu that allow to add a "Debug" menu to a BrowserWindow instance. I'm describing my idea in parro-it/debug-menu#3 there.

I want to call `electron-debug` `devTools` and `refresh` methods from my `debug-menu` module, to avoid reimplementing them. They will be called from the corresponding MenuItem of this new "Debug" menu.

I will write a PR that expose

[2016-02-13 05:56] sindresorhus commented on #30
How would that API look like? There's not a lot of code in this module.

[2016-02-13 10:56] parro-it commented on #30
I will add `devTools` and `refresh` function as properties of currently exported function.
`refresh` function could also be improved to take a BrowserWindow instance as a argument like `devTools` does (this should not break compatibility with previoud versions).

Yes, both functions are very simple and I could easily reimplement them, but I think it will be better to reuse them. What do you think

[2016-02-13 10:59] sindresorhus commented on #30
:+1:

[2016-02-27 19:38] parro-it opened #32 "Add option to open DevTools"
The more I use electron-debug, the more I'm annoyed by this use case.
I open DevTools with toggle shortcut, then often it got covered by other windows, but still open.
After a while, I often forgot it is open and I press toggle key to show DevTools, but since it's already opened, it close.

I think it should be useful to add an option to just open it if closed, or otherwise focus it.
I don't think

[2016-02-27 20:27] sindresorhus commented on #32
Can't say that's been an issue for me, but I'm open to adding something for this. The downside of adding it as an option is that it would permanently remove ability to close dev tools from the keyboard. Wouldn't it be better to just add an alternative keyboard shortcut?

I think you can focus this http://electron.atom.io/docs/v0.36.8/api/web-contents/#webcontentsdevtoolswebcontents

[2016-02-27 20:48] parro-it commented on #32
Yes, I mean to add a new shortcut, keeping all existing stuff, that is still useful

[2016-02-27 20:51] parro-it commented on #32
Already tried, but [BrowserWindow.fromWebContents](https://github.com/atom/electron/blob/master/docs/api/browser-window.md#browserwindowfromwebcontentswebcontents) always return null for a DevTools window, so no luck there.

[2016-02-27 20:53] sindresorhus commented on #32
Ok. Can you open an Electron issue and cross-link it here?

[2016-02-27 20:53] sindresorhus commented on #32
:+1:

[2016-02-27 21:01] parro-it commented on #32
Sure!

[2016-02-27 21:13] parro-it commented on #32
I opened issue upstream on electron: https://github.com/atom/electron/issues/4625

[2016-03-01 10:13] #30 closed

[2016-03-05 14:49] parro-it commented on #32
My issue on  Electron appear to be blocked by [this other](https://github.com/atom/electron/issues/2835).

I done some experiments [here](https://github.com/parro-it/debug-menu/blob/open-devtools-native/index.js) but they are unfortunate...

I published a version of the method directly  on [debug-menu](https://github.com/parro-it/debug-menu/blob/master/index.js#L50), I  will refactor that when ups

[2016-04-07 03:26] Luncher opened #34 "windows F12 not triggering but F5 trigged"
electron version: 0.37.2

windows: ctrl shift + I trigged devTool

[2016-04-07 04:22] sindresorhus commented on #34
I appriciate the ticket, but it's not a very good ticket and you should have cross-linked https://github.com/electron/electron/issues/5066. Please try harder next time ;)

[2016-04-08 16:31] sindresorhus commented on #28
Fixed by https://github.com/sindresorhus/electron-debug/commit/4039271607d2c72a696a6f895406616435743d8a. Available in 0.6.0.

[2016-04-08 16:31] #28 closed

[2016-04-08 18:21] sindresorhus commented on #29
@parro-it Would you mind opening an Electron issue so this can be eventually resolved?

[2016-04-08 19:07] parro-it commented on #29
Done: https://github.com/electron/electron/issues/5094

[2016-04-09 09:11] sindresorhus commented on #29
@parro-it Thank you :)

[2016-04-09 10:58] parro-it commented on #29
:wink:

[2016-04-15 11:42] sindresorhus commented on #1
Is this still relevant? I don't see any Electron logging by default.

[2016-04-15 12:26] parro-it commented on #1
They made chromium logging to console an opt-in some release ago. You can use the [--enable-logging](https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md#--enable-logging) argument to restore the logging.

I think you can safely close this.

[2016-04-15 12:45] #1 closed

[2016-04-23 08:06] sindresorhus commented on #29
The feature is now available in Electron 0.37.7 if anyone wants to do a PR:

https://github.com/electron/electron/releases/tag/v0.37.7

[2016-04-23 08:07] stevedekorte commented on #29
Thanks!

[2016-04-25 12:36] sindresorhus commented on #29
Fixed by #35.

[2016-04-25 12:36] #29 closed

[2016-05-09 06:52] #34 closed

[2016-05-11 13:58] parro-it commented on #25
This appear to be implemented in [devtron](https://github.com/electron/devtron).
Did you already check it?

[2016-05-12 05:43] sindresorhus commented on #25
Yes, Devtron does this well.

[2016-05-12 05:43] #25 closed

[2016-05-20 08:13] JPeColCom opened #37 "Feature: Signal to Renderer to open Electron-Webview DevTools"
A useful feature it would be if a signal is sent to the renderer process. Because then you can decide in Electron-Webview whether this also wants to open the DevTools.

[2016-05-20 08:29] sindresorhus commented on #37
Why? Not sure I understand the use-case.

[2016-05-20 09:56] JPeColCom commented on #37
To Debug external Websources. In my case an Ionic WebApp

[2016-05-20 10:19] sindresorhus commented on #37
But you can just use the shortcut or enable the option to open devtools automatically on startup. Maybe it would help if you provided an example usage.

[2016-05-20 10:36] JPeColCom commented on #37
The shortcut openes only the DevTools from electron.BrowserWindow.
In the Renderer Process you can use the Electron Webview tag [see](https://github.com/electron/electron/blob/master/docs/api/web-view-tag.md)

An Example:

**Main process**
[code]

**Renderer Process: index.html**
[code]

The dev-tools-opened Signal is fired from the openDevTools method

[2016-05-22 09:14] sindresorhus commented on #37
Thanks for elaborating. Makes sense. I wonder though if there's any way we can handle that more automagically. Like maybe allow you to pass in the `webview` DOM element to electron-debug and have it handled for you? Ideas?

[2016-06-12 02:51] callmewhy opened #39 "Uglify failed"
Hi, I'm using `electron-debug` in webpack.

However, there is an error with UglifyJsPlugin:
[code]

That is because UglifyJs doesn't support ES6 and the project code is written without transpiler (like babel).

[2016-06-12 11:00] sindresorhus commented on #39
You shouldn't Webpack the Electron code.

[2016-06-12 11:00] #39 closed

[2016-08-18 07:00] jaredleechn opened #41 "save breakpoint between page refresh"
the breakpoint will work when I reopen main and renderer, but all the breakpoint will lost if I just refresh the renderer page

Is there any way to save all the breakpoints like the way in chrome instead of using `debugger` 🤔

[2016-09-09 22:59] vinnymac commented on #32
If I read this issue right, all you want to do is open it when it is closed, focus it when it is open.

I do this in my app already like this.

[code]

You could remove the first test if you don't want it closing on you. I use this with the `Shift+Ctrl/Cmd+I` shortcuts and it hasn't given me any trouble.

[2016-09-12 12:53] bhaveshgohel opened #42 "How to open DevTools undocked 'only' when CTRL+SHIFT+I & not on start?"

[2016-09-12 13:52] kevva commented on #42
https://github.com/sindresorhus/electron-debug#showdevtools

[2016-09-12 13:52] #42 closed

[2016-09-13 05:15] bhaveshgohel commented on #42
Thanks @kevva, I figure It out :

[code]

One small Caveat:
Why its says "(last dock state)" in readme? Can we force it to be always the same we configured?
Asking because after the above configuration i'm getting undocked Devtools with Ctrl+Shift+I, even after doing configuring as below .

[code]
[code]
[code]

How do i test:
1. Configure
2. Run App
3. press Ctrl+Shift+I
4. Close the app without

[2016-09-13 20:29] zeke opened #43 "Enable the element inspector with a keyboard shortcut"
Following up on https://github.com/electron/electron/issues/7147

In MacOS Chrome, hitting <kbd>Cmd</kbd><kbd>Shift</kbd><kbd>C</kbd> or <kbd>Cmd</kbd><kbd>Alt</kbd><kbd>c</kbd> enables [inspect element mode](https://developers.google.com/web/tools/chrome-devtools/iterate/inspect-styles/shortcuts?hl=en#accessing-devtools):

![screen shot 2016-09-08 at 10 22 28 pm](https://cloud.githubusercontent.c

[2016-09-19 17:10] sindresorhus commented on #43
Good idea! Pull request welcome, as I'm busy IRL. Otherwise I'll get to it eventually.

[2016-11-05 09:59] #43 closed

[2016-12-12 20:26] parro-it commented on #37
Trying to solve https://github.com/parro-it/debug-menu/issues/6 I made some experiment using `webContents.getFocusedWebContents()`. It return `webContents` of webviews when they are focused.

I remember of this issue... I think it could be elegantly solved using `getFocusedWebContents`.

[2016-12-16 17:11] riteshatsencha opened #45 "BrowserWindowProxy debug"
Does electron-debug support BrowserWindowProxy? It seems like BrowserWindowProxy has very limited features and I can't seem to figure out how to debug.

I have an app that opens a proxy window. Kind'a stumped on debugging it.

Thx

[2016-12-16 23:24] sindresorhus commented on #45
Not at the moment. I don't really see an obvious way to support it, but happy to take a pull request if there is.

[2016-12-17 08:03] parro-it commented on #45
@riteshatsencha you can debug it remotely, using command argument `--remote-debugging-port=<port>' and later connecting to that port via http (from chrome).

<self-promoting>
Actually I'm working on a tool to simplify exactly this use case: it let you open multiple devtools within the same window, each one debugging a different renderer process:

![image](https://cloud.githubusercontent.com/assets

[2016-12-17 20:19] riteshatsencha commented on #45
@parro-it Thanks for the response. Yeah, tried it. Doesn't work.

Remote debugging for the main browser window works just fine. I can work with the dev tools like expected.

As soon as I open a [BrowserWindowProxy](http://electron.atom.io/docs/api/browser-window-proxy/) none of the console logs are displayed in the console. Heck there is no way to open dev tools for [BrowserWindowProxy](http://ele

[2016-12-18 07:52] parro-it commented on #45
@riteshatsencha that's strange, it's working for me.
Are you doing the following steps, in order?

1) --remote-debugging-port=<a port number> command line arg when you launch electron?
2)  open your window with window.open as you usually do
3) connecting to http://localhost:<a port number> using chrome you should see a devtools instance connected to the page you opened. What do you see instead?

Y

[2016-12-20 16:55] riteshatsencha commented on #45
@parro-it as per the steps above...

1) Launched electron with remote-debugging-port option.
2) App launches main window and I can see the dev tools attached to it. I can print console logs. All good here.
3) Next, this main browser window opens another window which is a window proxy. This is where I have an issue. I just can't seem to open dev tools for the proxy window. May be it just doesn't su

[2016-12-20 17:01] parro-it commented on #45
After step 3), you have to open chrome and navigate to http://localhost:<port>
Port is the debugging port you put in cmd line arg in step 1.

You should see a list of link, one for each renderer process in your app. Clicking them, you get a devtools (in chrome, not in your window) connected to the process you clicked.

One of the process should be the window.opened one...

[2016-12-20 17:06] riteshatsencha commented on #45
Here are the links from http://localhost:9222.

<img width="1324" alt="remote-debugger-links" src="https://cloud.githubusercontent.com/assets/14277904/21360154/bd2f5878-c6ac-11e6-8cd8-2863753a0461.png">

[2016-12-20 17:17] parro-it commented on #45
Have you tried them?

[2016-12-20 19:02] riteshatsencha commented on #45
Yeah, so clicking on both links I see this error in the console.

![dev-tools-error](https://cloud.githubusercontent.com/assets/14277904/21363993/f8279822-c6bc-11e6-9807-318d176873fc.png)

[2017-01-04 20:23] ericsoco opened #46 "Cannot open devtools in `electron-packager`-packaged app"
I have the `enabled: true` option set, as it's not a security concern for my use case:
[code]

But when packaged with [`electron-packager'](https://github.com/electron-userland/electron-packager), the keyboard shortcuts fail to work and application menus are all gone.

Not clear where the issue lies, here or `electron-packager`; looking through the source here, it seems that the keyboard shortcuts

[2017-01-12 04:52] sindresorhus commented on #46
Probably a problem with your code somehow. I'm using exactly this in [Caprine](https://github.com/sindresorhus/caprine/blob/35876fd223ea2494473b58510e3e46b03ba7d650/index.js#L11) and it's working fine.

[2017-01-24 19:11] ericsoco commented on #46
Not sure why `electron-debug` menus aren't appearing, but [this comment](https://github.com/electron-userland/electron-packager/issues/553#issuecomment-270805213) helped me understand that the [`default_app`](https://github.com/electron/electron/tree/master/default_app) is launched when running from the commandline, but a vanilla app with no menus is run when packaged. I added menu items manually

[2017-01-24 19:11] #46 closed

[2017-03-29 00:04] fwextensions opened #48 "F12 does not open DevTools on Windows 7"
I've been trying version 1.1.0 of electron-debug with version 1.4.13 of Electron, and hitting F12 in the packaged app on Windows 7 seems to do nothing.  Ctrl-shift-I and the other shortcuts work, but not F12.  F12 does, however, work on macOS.

I'm wondering if the F12 shortcut is more tightly coupled to the Electron shell in Windows compared to Mac, and so it's interfering with the key handling.

[2017-05-21 03:59] crunchex opened #49 "Is there a way to append menu items to the debug menu?"
For example, I have a few menu items in production that I would like to carry over to the development builds, like "About" which holds the version number.

[2017-05-21 04:27] crunchex commented on #49
Okay, played around with the standard API and it was actually pretty easy. For anyone else who was wondering:

[code]

[2017-05-21 04:27] #49 closed

[2017-08-02 15:56] develar opened #53 "Option to not focus devtools windows"
Currently, if devtools window undocked, it is focused and it is not convenient. electron-debug should [unfocus](https://github.com/electron/electron/issues/4764#issuecomment-196263172) by default, or at least, provide an option to unfocus.

[2017-08-05 12:19] sindresorhus commented on #53
I think devtools should be unfocused when opened with the `showDevTools` option, but focused if you press the keyboard shortcuts. Don't think an option is needed.

[2017-08-06 16:16] yangwao opened #54 "insp is not a function"
I recently updated to electron-debug@1.4.0, when I close inspector and I click anywhere/press alt/cmd/ctrl/random key or I'll try reopen inspector again, I shows me this window
![image](https://user-images.githubusercontent.com/5887929/29005044-52790a48-7ad3-11e7-9e99-393b9f015a10.png)
Downgrade to electron-debug@1.3.0 helped me.
Officially reported by me https://github.com/SimulatedGREG/electron-

[2017-08-06 16:49] sindresorhus commented on #54
// @parro-it

[2017-08-07 06:18] parro-it commented on #54
I removed my dependency on insp as a workaround.
Could you retry and check if it solve your issue?
You should have electron-localshortcut version 3.0.2 installed.

[2017-08-07 13:24] cawa-93 opened #55 "Bug with electron-debug@1.4.0"
The project uses **electron-debug@1.4.0** which includes **electron-localshortcut@3.0.2**
When I start the application, I get an error when I press any key on the keyboard.
![image](https://user-images.githubusercontent.com/1662812/29028332-98a3038e-7b8c-11e7-8076-675219ed3846.png)
When I used the previous version (**electron-debug@1.3.0** + **electron-localshortcut@2.0.2**) of this problem was no

[2017-08-07 14:33] parro-it commented on #54
@yangwao should be solved now, could you please remove node_modules folder and retry?

[2017-08-08 10:33] yangwao commented on #54
Fixed! Thanks! 🤗
Worked with these
[code]

[2017-08-08 10:33] #54 closed

[2017-08-08 10:43] parro-it commented on #54
You're welcome!

[2017-08-19 04:10] killerspaz opened #56 "Fails to operate properly"
## **Environment**
Electron: 1.7.5, Win10 (latest)

Using webpack (if that matters) and TypeScript. Can provide more information if necessary.

## **Issue**

Using the exact copy/paste example given in the readme, I recieve:

[code]

However, it SEMI works when executed within `app.on('ready', => {})`.....  `{showDevTools: true}` doesn't wait for anything and just focuses the active window and ope

[2017-08-19 21:17] killerspaz commented on #56
OK... After much tinkering, the initial error I posted was due to this module bundling into my webpack output.

However, I think due to my app growing, some initialization timing affects the `extensions` directory to be writable, since Electron hasn't fully initialized it's AppData folder. To resolve, I must wait until my own `app.on('ready', => {})` executes (as mentioned before).

This is also d

[2018-01-02 16:01] sindresorhus opened #58 "`Cmd+Alt+I` no longer works"
See: https://github.com/parro-it/electron-localshortcut/issues/46

[2018-01-03 10:37] sindresorhus commented on #58
Fixed now.

[2018-01-21 21:30] henrikingo commented on #48
None of the keybindings seem to work on Linux either.

$ lsb_release -ai
No LSB modules are available.
Distributor ID: Ubuntu   (Hmm... actually this is a Kubuntu)
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

$ node --version
v7.4.0

$ grep electron package.json | tail -n 1
    "electron": "1.4.4"

[2018-02-14 14:47] daviddelusenet opened #60 "Cannot find module 'electron-debug'"
I'm trying to add `electron-debug` to my Electron application. These are the contents of my `electron.js` file:

[code]

And I've this in my `package.json`:

[code]

However, when I start my application I get the following error:

[code]

I've also tried the following way of importing `electron-debug`:

[code]

This leads to the same error.

[2018-02-14 15:35] parro-it commented on #60
Did you install latest version of the package?
What do you get if you `ls node_mosules/electron-debug` ?

[2018-02-14 15:49] daviddelusenet commented on #60
This is in my `package.json`: ` "electron-debug": "^1.5.0"`

When I execute `ls node_modules/electron-debug`:

[code]

[2018-02-14 19:31] parro-it commented on #60
Could you paste or link ypour complete package.json?
What is exactly that "build" section you spoke about?
I think there is something wrong in the way you're packaging your app.

[2018-02-15 08:29] daviddelusenet commented on #60
Sure, no problem!

Personally I think it has to do with this not being compatible with the latest Webpack/Babel/ES6 stuff.

This is my `package.json`:

[code]

My `.babelrc`:

[code]

Let me know if you need any more information! Thanks for the help so far 😄

[2018-02-15 08:34] sindresorhus commented on #60
This error is coming from Node.js and doesn't have anything to do with this project specifically.

[code]

Try the Electron supports channels. You're probably having problems with npm or loading dependencies incorrectly.

Feel free to continue discussing here. I'm closing the issue as it has nothing to do with the project specifically.

[2018-02-15 08:34] #60 closed

[2018-02-15 09:18] daviddelusenet commented on #60
Fixed it, was actually quite easy (and now I feel stupid).

I had `electron-debug` installed as a `devDependency`. When I installed it as a `dependency` it worked right out of the box!

😊

[2018-05-11 19:39] motin opened #61 "Critical dependency: the request of a dependency is an expression"
[Webpack doesn't like](https://github.com/webpack/webpack/issues/196) them dynamic requires that electron-debug contains:

[code]

Any chance they can be rewritten in a way that does not yield this warning when compiling with webpack?

[2018-05-12 10:46] sindresorhus commented on #61
No, this should be fixed in Webpack.

[2018-05-12 10:52] sindresorhus commented on #61
@sokra @TheLarkInn This is the gadzillion issue I've had to deal with about this warning. Please reopen https://github.com/webpack/webpack/issues/196 and lets find a solution for this.

[2018-05-12 10:52] #61 closed

[2018-05-24 06:01] xcsweb opened #62 "electron-debug WARNING"
WARNING in ./node_modules/electron-debug/index.js
  81:45-58 Critical dependency: the request of a dependency is an expression
   @ ./node_modules/electron-debug/index.js
   @ ./src/main/index.dev.js
   @ multi ./src/main/index.dev.js ./src/main/index.js

  WARNING in ./node_modules/electron-debug/index.js
  84:85-106 Critical dependency: the request of a dependency is an expression
   @ ./node_mo

[2018-05-24 06:11] sindresorhus commented on #62
This is just Webpack awfulness. Please show your frustration on the webpack issue tracker: https://github.com/webpack/webpack/issues/196

[2018-05-24 06:11] #62 closed

[2018-05-26 01:00] juancrescente opened #63 "debug\index.js:74 Uncaught TypeError: Cannot read property 'on' of undefined"
I'm getting an error with versions:

[code]
Initialize code:

[code]
Error trace:

[code]

[2018-05-26 08:05] sindresorhus commented on #63
Do you still see this with Electron 2.0.2?

[2018-05-28 18:29] sindresorhus commented on #53
Fixed by https://github.com/sindresorhus/electron-debug/commit/2bbe00e8d165656da216cebbb2ea3544d67da628

Also vote up this Electron issue: https://github.com/electron/electron/issues/13095

[2018-05-28 18:29] #53 closed

[2018-06-13 07:41] daniel-kun commented on #63
@sindresorhus Jup! I still see it in Electron 2.0.2, Node v8.11.2, Windows.
Additional info: I use electron-compile to be able to use ES6, maybe this is related.

[2018-06-13 21:08] afhammad commented on #63
+1

[2018-07-21 08:58] motin commented on #37
@parro-it I followed your advice and implemented #64, thanks :)

[2018-08-01 09:16] amanganiello90 opened #65 "Electron refresh doesn't work for angular 5 dev build"
Hi,
I have problems to refresh page in electron with F5 or Ctrl-R shortcut.
I load in my electron main package the angular 5 dev build under dist folder:

-----
function createWindow() {
  mainWindow = new BrowserWindow({
    autoHideMenuBar: true,
    width: 640,
    height: 480,
	webPreferences: {
	nodeIntegration: false   }
  });
  mainWindow.loadURL(`file://${__dirname}/dist/index.html`);
  //

[2018-08-01 10:44] sindresorhus commented on #65
This has nothing to do with `electron-debug`. It just reloads the window. You would get the same error with `window.location.reload()` too.

[2018-08-01 10:44] #65 closed

[2018-10-23 23:59] scarlac opened #66 "ES6 module syntax"
It'd be great if we could get ES6 module syntax working, so it'd be possible to import this package using:
[code]

Which doesn't seem possible at the moment because the initialization function is exported via `module.exports = function() { ... }` and not as any named export.

The best solution would obviously be to `import initDebugger from 'electron-debug'` but that would break backwards compatib

[2019-01-16 12:06] ZeeCoder opened #67 "v2.0 doesn't remember the docking position of the dev tools"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2430%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/electron-debug/issues/67)

I've tested both 1.5 and 2.0, and while the former remembered exactly how I docked my dev tools, the new one always just opens undocked in a separate window.

(Unless I explicitly set devToolsMode, in which case it always opens in

[2019-01-28 13:30] #66 closed

[2019-03-18 18:35] AnthoniG commented on #48
I can't get anything to work :disappointed:
I am using Linux but also using Oracle's VMBox to run Window 7 Pro inside.
When I build an exe for Windows none of the key shortcuts work, not even F12

[2019-03-28 07:14] hieuhlc opened #70 "Not working in Electron 5.0 beta 7"
I have installed `electron-debug` and `electron-react-devtools`, both latest versions.
I put this line before creating BrowserWindow in main process
[code]
However I got this instead of React DevTools installed in Console

<img width="688" alt="Screen Shot 2019-03-28 at 14 11 27" src="https://user-images.githubusercontent.com/4828178/55137515-bf9f2180-5163-11e9-9141-88dcce8b52d7.png">

Please help

[2019-03-28 07:37] sindresorhus commented on #70
I think this is an issue in Electron v4. I haven't had time to track down why it happens.

Would probably need to add https://github.com/MarshallOfSound/electron-devtools-installer as a dependency and handle installing DevTools extensions that way instead of recommending https://github.com/firejune/electron-react-devtools (which is also outdated). The benefit would be that we could easily support

[2019-03-28 09:46] sindresorhus commented on #70
@hieuhlc That's an Electron issue: https://github.com/electron/electron/issues/17586

[2019-03-28 15:28] robatwilliams opened #71 "Ability to start & stop content tracing"
https://electronjs.org/docs/api/content-tracing

Trigger it using a keyboard shortcut. Read options from a file having a well-known name in the same folder. If no file found then create one and populate it with some default options.

[2019-04-07 15:06] #70 closed

[2019-05-01 16:12] sindresorhus commented on #16
@parro-it What should we do about this?

[2019-05-01 16:12] #8 closed

[2019-05-01 16:14] sindresorhus commented on #71
It's not really clear to me how it will be used. If we add ability to start and stop it, how would you see the result? Can you elaborate a bit more about how you imagine working with it and what problems it solves?

[2019-05-01 18:30] robatwilliams commented on #71
Beyond its use in Chromium for detailed tracing, content tracing is of further use in Electron to provide a unified view of application activity across all the processes on a single timeline.

The trace viewer (chrome://tracing) is not included in Electron, so the trace data is saved to a file by the `contentTracing.stopRecording(resultFilePath)` method. It can then be opened in the trace viewer o

[2019-05-08 14:59] parro-it commented on #16
There seems to be no interest in the feature, I think we can close it.
Rethinking about this issue year after, I can't remember why I felt we should use the same shortcuts as Chrome.

[2019-05-10 16:35] #16 closed

[2019-05-12 08:47] sindresorhus commented on #71
Thanks for elaborating. Yes, this would be a good addition here.

Would it maybe also be useful if `electron-debug` also opened the trace file in Chrome after step 4?

[2019-05-12 11:04] robatwilliams commented on #71
Yes probably.

[2019-06-14 17:40] sindresorhus commented on #56
Closing as https://github.com/sindresorhus/electron-debug/pull/57 went stale and I'm now using https://github.com/sindresorhus/electron-debug/blob/d25c72a77f3da2ad82643045b1dad8b88dd791e7/index.js#L94

[2019-06-14 17:40] #56 closed

[2019-06-14 17:43] sindresorhus commented on #32
Alright, let's do this by default when the DevTools is undocked. Apparently, that's how the native Chrome DevTools work too.

[2019-06-16 15:06] reslear opened #73 "how to change window devtool bounds x, y, width, height"
Used to do so
`devtools = new BrowserWindow({
      frame : false,
      parent : mainWindow,
      skipTaskbar : true,
    });
    devtools.setMenuBarVisibility(false);
    mainWindow.webContents.once('did-finish-load', function () {

      mainWindow.webContents.setDevToolsWebContents(devtools.webContents);
      mainWindow.webContents.openDevTools({ mode: 'detach' })

      let windowBounds = m

[2019-06-28 09:20] astoilkov opened #76 "Can't close devTools using the shortcut while it is focused"
Steps to reproduce:
- The default Electron menu should be replaced with a custom menu so the Toggle Dev Tools menu item doesn't exist
- Open devTools
- While devTools is focused click the shortcut for closing devTools

This can be replicated in Caprine where `electron-debug` is used.

I see two possible solutions for this problem:
1. `electron-localshortcut` to not disable the shortcuts when devTo

[2019-06-29 19:32] #67 closed

[2019-08-22 03:55] manojVivek commented on #43
@zeke @sindresorhus Any idea on how to make the same work for a `<webview />` devTools?

`webview.devToolsWebContents` is always `null`.

[2020-02-02 18:21] dschuessler opened #78 ""Uncaught TypeError: Cannot read property 'indexOf' of undefined" when invoking dev tools via Cmd+Alt+I"
Invoking dev tools via F12 works fine. But invoking the dev tools via Cmd+Alt+I (Mac) prints the following error in my terminal:

[code]

Invocation of `debug` in my code:

[code]

Electron 7.1.11
macOS 10.14.6

[2020-02-02 19:54] dschuessler opened #79 "Could open dev tools in packaged app with Cmd+Alt+I"
The readme states that there is "no need to guard it for production". I built my Electron app via electron-builder and was able to invoke the dev tools with Cmd+Alt+I (but not F12) after launching the app.

electron-debug is installed as dev dependency.

This is my call to `debug`:

[code]

Let me know if you need additional information for reproduction.

electron 7.1.11
electron-builder 21.2.0
el

[2020-02-02 20:28] dschuessler commented on #79
This is actually unrelated to electron-debug. Sorry for the noise.

[2020-02-02 20:28] #79 closed

[2020-06-02 20:14] liz2020 opened #81 "devToolsMode not working"
"electron-debug": "^1.5.0"
I created the project using electron-vue, and the project always open the devtools dock on the right even though I set the devToolsMode to bottom.
`require('electron-debug')({ showDevTools: true, devToolsMode: 'bottom' })`

[2020-06-03 04:06] sindresorhus commented on #81
You’re using an old version of this package.

[2020-06-03 04:06] #81 closed

[2020-07-21 16:38] NoahAndrews commented on #25
Devtron is no longer maintained, and seems to be broken with modern electron versions, so it might be a good idea to revisit this.

[2020-09-15 01:04] liudianwei opened #83 "require waring"
there is a warning like this:
`WARNING in ./node_modules/electron-debug/index.js 108:45-58
  Critical dependency: the request of a dependency is an expression
   @ ./src/main/index.dev.js
   @ multi ./src/main/index.dev.js ./src/main/index.js

  WARNING in ./node_modules/electron-debug/index.js 109:61-74
  Critical dependency: the request of a dependency is an expression
   @ ./src/main/index.dev.

[2020-10-02 08:53] fishbone1 opened #84 "Fire event before opening dev tools"
Can you provide an event before the dev tools are opened? Ideally this event allows me aborting the action.

Use case: Show a confirmation or password window to prevent users from accidentally opening debug tools.

But I have an even more complex use case, which is why I actually ask for it:
We provide source maps which allow debugging production code in beta-phase. Those source maps are protected

[2020-10-04 18:58] sindresorhus commented on #84
If Elecron provides such an event, you can just listen to it yourself. If Electron doesn't, there's not much `electron-debug` can do about it, and you should rather open this issue on the Electron issue tracker.

[2020-10-31 09:20] xiandanin opened #85 "BrowserWindow.addDevToolsExtension is deprecated"
I found that electron-debug is still using `BrowserWindow.addDevToolsExtension`, so I get the following prompt.

[code]

[2020-10-31 09:23] #85 closed

[2020-12-21 13:02] sindresorhus commented on #83
This is a problem with Webpack. I would recommend opening an issue over at https://github.com/webpack/webpack/issues instead.

[2020-12-21 13:02] #83 closed

[2021-01-20 20:39] nholder06 opened #86 "Adding this library removed Jest from packages"
Hi! I am working on a project using electron, rx, and jest.  When installing your library, it removed Jest from our packages.  Running an npm install after added it back.  I am on a windows machine, a co-worker installed your library and had the same experience.  Not sure if this was intended, but wanted to bring it up.

[2021-01-21 03:18] sindresorhus commented on #86
This should be opened at https://github.com/npm/cli. This package has nothing to do with the actual install process.

[2021-01-21 03:18] #86 closed

[2021-10-23 21:10] shaderbytes opened #87 "shortcuts dont work"
npm installed

Example code used , firstly it opened a menu .. which i dont want. If I wanted that I could just bloody use `mainWindow.webContents.openDevTools();`

Which I did have and shortcuts did not work to close it. So googled around and found this. Hooray I thought my problems are solved. And now i find its useless. No shortcut keys work and I cant just start the app with no dev tools showi

[2021-10-24 00:40] sindresorhus commented on #87
Shortcuts work for me in the included example app. I cannot really do anything based on the little information provided here.

[2021-10-24 00:40] #87 closed

[2022-06-08 23:47] burgil opened #88 "TypeError: Not running in an Electron environment!"
Hey, For some reason I'm getting the following error ^^

[2022-06-08 23:51] #88 closed